#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
.logo-container {
  display: inline-block; /* Ensure the container fits the icon size */
}

.logo-icon {
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
  color: #333; /* Default color of the icon */
}

.logo-icon:hover {
  color: #007bff; /* Change color on hover */
  transform: scale(1.1); /* Slightly increase the size of the icon */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
